.story-link {
  text-decoration: none;
  color: black;
}

.story-link:visited {
  color: black;
}

.story-container {
  list-style: none;
  border-bottom: 1px solid black;
  height: 400px;
  display: flex;

  img {
    margin: 1%;
    width: 33%;
    height: 300px;
    object-fit: contain;
  }

  .story-info {
    height: 400px;
    margin: 1%;
  }

}
